// Cores institucionais
$yellow: hsla(42, 81%, 49%, 1) !default;
$dark-yellow: hsla(42, 61%, 49%, 1) !default;
$blue: hsla(202, 100%, 37%, 1) !default;
$dark-blue: hsla(202, 50%, 37%, 1) !default;

// Primária e secundária
$primary: $yellow !default;
$primary-dark: $dark-yellow !default;
$secondary: $blue !default;
$secondary-dark: $dark-blue !default;

// Set a custom color
$orange: #f4623a !default;
$brown: #5c4d42 !default;

// Font overrides
$font-family-sans-serif: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;

$font-family-serif: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;

$font-family-base: $font-family-serif !default;

$headings-font-family: $font-family-sans-serif !default;

// Custom variables
$navbar-height: 72px;
